.cls1 {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    margin-top: 225px;
  }
  
  .cls2 {
    margin-bottom: 16px;
  }
  
  .cls3 {
    margin-top: 16px;
  }
  .cls4{
    background-image: url(https://t3.ftcdn.net/jpg/00/67/70/40/360_F_67704008_fxdmJ8wDOqDYts9P3tzdbxqZf8NfWT21.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  