.Log{
    color: white;
    transition: background-color 0.3s ease-in-out;
}
.Log:hover{
    background-color:black;
}
.Sign{
    color: white;
    transition: background-color 0.3s ease-in-out;
}
.Sign:hover{
    background-color:black;
}

.sty1 {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
  
  .sty1:hover {
    transform: scale(1.2);
  }
  
  .login-button, .signup-button {
    /* Other styles */
    transition: background-color 0.3s ease-in-out;
  }
  
  .login-button:hover, .signup-button:hover {
    background-color: #FF0000; /* Change to your desired color */
  }
  